source_up

# Paths to the installed project
export PATH="/home/tarcila/Code/ANARI/VisRTX/next_release/_out/bin${PATH:+:${PATH}}"
export LD_LIBRARY_PATH="/home/tarcila/Code/ANARI/VisRTX/next_release/_out/lib${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}"
export DYLD_LIBRARY_PATH="/home/tarcila/Code/ANARI/VisRTX/next_release/_out/lib${DYLD_LIBRARY_PATH:+:${DYLD_LIBRARY_PATH}}"

# Local environment overrides
dotenv_if_exists
