name: TSD CI

on:
  push:
    branches: [ next_release ]
  pull_request:
    branches: [ main, next_release ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        config: [Release, Debug]

    steps:
    - uses: actions/checkout@v3

    - name: Install Packages
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: sudo apt install -y libtbb-dev

    - name: Configure ANARI-SDK CMake
      run: >
        cmake -LA -B ${{github.workspace}}/deps_build
        -DCMAKE_INSTALL_PREFIX=${{github.workspace}}/deps
        ${{github.workspace}}/tsd/cmake/build_deps

    - name: Build + install ANARI-SDK
      run: cmake --build ${{github.workspace}}/deps_build --config ${{ matrix.config }}

    - name: Configure TSD CMake
      run: >
        cmake -LA -B ${{github.workspace}}/build
        -DBUILD_INTERACTIVE_APPS=OFF
        -DCMAKE_PREFIX_PATH=${{github.workspace}}/deps
        -DCMAKE_BUILD_TYPE=${{ matrix.config }}
        -DTSD_USE_ASSIMP=OFF
        -DTSD_USE_CUDA=OFF
        -DTSD_USE_HDF5=OFF
        -DTSD_USE_OPENGL=OFF
        -DTSD_USE_TBB=OFF
        -DTSD_ENABLE_SERIALIZATION=OFF
        ${{github.workspace}}/tsd

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{ matrix.config }}

    - name: Unit Tests
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{ matrix.config }} --output-on-failure
